body { font-family: Arial, sans-serif;
     display: flex;
      flex-direction: column;
       align-items: center;
       background-color: lightcoral;
 }
.container { 
    max-width: 400px; 
    padding: 20px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    background-color: rebeccapurple;
    margin-top: 20px; 
}

input{
    margin-top: 1rem;
    border-radius: 3px;
    height: 1.3rem;
}
.operation{
    display: flex;
    justify-content: space-between;
}
.result { margin-top: 10px; 
    padding: 10px; 
    border: 1px solid #aaa; 
    background-color: #fff;
    height: 1.3rem;
}
.toggle-button { 
    margin-top: 10px;
    font-size: 1.3rem;
    cursor: pointer;
 }